{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AccountName": "",
    "AccountKey": "",
    "SecretKey": "",
    "Password": "",
    "KEY_SECRET": "",
    "SERVER_SECRET": "",
    "ADMIN_SECRET": "",
    "VERCEL_URL": ""
  },
  "Host": {
    "CORS": "*"
  }
}
